# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_size = 2

# JavaScript, TypeScript, JSON
[*.{js,jsx,ts,tsx,json,mjs,cjs}]
indent_size = 2

# Java
[*.java]
indent_size = 4

# Python
[*.py]
indent_size = 4

# Shell scripts
[*.sh]
indent_size = 2

# XML, HTML
[*.{xml,html,htm,xhtml}]
indent_size = 2

# CSS, SCSS, SASS, LESS
[*.{css,scss,sass,less}]
indent_size = 2

# SQL
[*.sql]
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
